<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Blogger</title>
<link rel="stylesheet" href="/css/darkly.min.css" />
<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />