<nav class="navbar navbar-expand-lg navbar-primary text-white">
    <div class="container-fluid" role="banner">
        <img src="/img/logo.png" class="img-responsive rrounded me-2" alt="Bootstrap Logo" width="50" />
        <a class="navbar-brand text-white" href="/">Blogger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                <li class="nav-item">
                    <a class="nav-link text-white <%= currentPage === 'home' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Posts
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/userPosts">Your Posts</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="/postMessage">Add Posts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white <%= currentPage === 'about' ? 'active' : '' %>" href="/about">About
                        Us</a>
                </li>
                <% if(user && user.role==='admin' ) { %>
                    <li class="nav-item">
                        <a class="btn btn-primary <%= currentPage === 'admin' ? 'active' : '' %>" href="/admin/dashboard">Admin Dashboard</a>
                    </li>
                    <% } %>
            </ul>

            <% if(!user) { %>
                <div class="btn-group" role="group" aria-label="Registration and Login">
                    <a href="/register" class="btn btn-warning">Register</a>
                    <a href="/login" class="btn btn-primary">Log in</a>
                </div>
                <% } else { %>
                    <div class="d-flex align-items-center">
                        <p class="mb-0 me-3">
                            <%= user.username %>
                        </p>
                        <a href="/logout" class="btn btn-danger">Log out</a>
                    </div>
                    <% } %>
        </div>
    </div>
</nav>